.input-normal, .normal-textarea {
  @apply bg-neutral-50 placeholder-neutral-400
  outline outline-1 outline-neutral-150 outline-offset-0
  inline-flex items-center justify-between;
  transition: all 0.1s;
  font-size: 18px;
  line-height: normal;

  &.bg_dark {
    @apply bg-neutral-850 outline-0;
    &:focus-within {
      @apply bg-neutral-850;
    }

    input {
      &::placeholder {
        @apply text-white/30;
      }
    }
  }

  &:focus-within {
    @apply bg-white outline-4;
  }

  &:disabled, &.disabled {
    @apply pointer-events-none opacity-50 ;
  }


  input, textarea {
    padding: theme('spacing.4') theme('spacing.[4.5]');
    background-color: transparent;
    @apply w-full;
    &:focus {
      outline-width: 0;
    }
  }

  .input-btn {
    padding: theme('spacing.4') theme('spacing.[4.5]');
    @apply aspect-square bg-transparent h-full flex items-center;

    i {
      font-size: 1.562rem;
      line-height: 24px;
    }
  }

  .icon {
    @apply absolute px-4 py-4.5;


    + input, + textarea {
      @apply pr-12.5;
    }

  }

  svg.icon {
    @apply px-0 py-0 w-6 h-6 mx-4 my-4.5;
  }
}

.normal-textarea {
  @apply items-start;
}


.boxed_radio, .boxed_checkbox {
  label {
    @apply outline outline-1 outline-neutral-150 p-4 flex items-center justify-center cursor-pointer bg-neutral-50;
  }

  input {
    @apply hidden;

    &:checked + label {
      @apply outline-fuchsia-800 outline-2 bg-white;
    }
  }
}

.checkbox {
  @apply appearance-none cursor-pointer;

  @apply border border-[#E7E7E7] bg-white w-8 h-8 relative;
  transition: background-color 100ms;

  &:before, &:after {
    content: "";
    @apply bg-white absolute;
  }

  &:before {
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%) rotate(318deg);
    height: 4px;
    width: 0;
  }

  &:after {
    top: 57%;
    left: 37%;
    transform: translate(-50%, -50%) rotate(318deg);
    width: 4px;
    height: 0;
  }

  &:checked {
    @apply bg-primary;


    &:before {
      width: 16px;
    }

    &:after {
      height: 10px;
    }
  }
}
.radio {
  @apply appearance-none;

  @apply bg-white border border-[#E7E7E7] w-8 h-8 rounded-full flex items-center justify-center;
  transition: background-color 100ms;

  &:before {
    content: "";
    @apply bg-white rounded-full w-3 h-3 scale-0;
    transition: transform 200ms;
  }


  &:checked {
    @apply bg-primary border-primary;
    &:before {
      left: 30px;
      @apply scale-100;
    }
  }
}


.switch {
  @apply appearance-none;

  @apply bg-gray-100/40 w-12 h-6 rounded-full relative;
  transition: background-color 100ms;

  &:before {
    content: "";
    @apply bg-white rounded-full absolute w-4 h-4 top-1/2 -translate-y-1/2 left-1 scale-100;
    transition: width, left 300ms;
  }

  &:active {
    &:before {
      @apply scale-75;
    }
  }

  &:checked {
    @apply bg-primary;
    direction: ltr;


    &:before {
      left: 30px;
    }

    &:active {
      &:before {
        left: 30px;
      }
    }
  }
}

