$arrow-left-2: "\ea01";
$arrow-left: "\ea02";
$b-star: "\ea03";
$currency-irt: "\ea04";
$edit: "\ea05";
$fa-facebook: "\ea06";
$fa-instagram: "\ea07";
$fa-linkedin: "\ea08";
$fa-telegram: "\ea09";
$fa-twitter: "\ea0a";
$fa-whatsapp: "\ea0b";
$fa-xmark-solid: "\ea0c";
$fa-youtube: "\ea0d";
$lamp: "\ea0e";
$mines: "\ea0f";
$o-arrow-down-1: "\ea10";
$o-arrow-left-2: "\ea11";
$o-arrow-right-3: "\ea12";
$o-arrow-up-2: "\ea13";
$plus: "\ea14";
$quote: "\ea15";
$search-normal: "\ea16";
$spinner: "\ea17";
