@mixin switch-checkbox {
  all: unset;
  -webkit-appearance: none;

  @apply w-10 h-6 inline-flex relative rounded-10 bg-neutral-400 transition-all;

  &:before {
    content: "";
    @apply absolute w-4 h-4 top-1 bottom-1 left-1 rounded-10 bg-white block transition-all;
  }

  &:checked {
    @apply bg-primary;
    &:before {
      @apply left-5;
    }
  }
}

@mixin noramal-input {
  @apply focus:placeholder-transparent placeholder-neutral-600 py-3 px-5 bg-transparent;
  @apply border-2 border-neutral-300 bg-white rounded-10 text-sm focus-within:border-primary;
}