* {
  -webkit-tap-highlight-color: transparent;
  @apply font-yekanbakh;

  &:before, &:after {
    @apply inline-block;
  }
}

::selection {
  @apply text-white bg-primary-700;
}

html, body {
  @apply w-full text-base overflow-x-visible bg-[#F5F5F5];
  scroll-behavior: smooth;
}

body {
  @apply h-full ;
}

body.rtl {
  direction: rtl;
}

span, img, strong {
  @apply inline;
}

//  HEADINGS
h1, h2 {
  @apply font-black;
  line-height: normal;

}

h3, h4, h5, h6 {
  @apply font-bold;
  line-height: normal;

}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5, h6 {
  font-size: 20px;
}

input[type="number"] {
  @apply appearance-none text-left;
  -moz-appearance: textfield;
  direction: ltr;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &::placeholder {
    @apply text-right;
    direction: rtl;
  }
}

.xdebug-var-dump, .xdebug-error {
  @apply bg-gray-light border m-3 p-3 rounded-lg text-left;
  direction: ltr;
  font-family: "Cascadia Mono", Consolas, monospace;
}


@import "components/content";


