:root {
  --color-primary: #282B85;
  --color-primary-45: #f9f9ff;
  --color-primary-50: #F6F7FF;
  --color-primary-75: #F3F6F9;
  --color-primary-76: #F2F6F9;
  --color-primary-80: #F1F2FF;
  --color-primary-100: #D4D5F2;
  --color-primary-200: #BFC0E5;
  --color-primary-300: #A9ABD7;
  --color-primary-400: #5356A1;
  --color-primary-500: #696BAF;
  --color-primary-600: #5356A1;
  --color-primary-700: #3E4193;
  --color-primary-800: #33368C;
  --color-primary-900: #282B85;

  --color-sec: #83C254;
  --color-sec-100: #F2FEE9;
  --color-sec-600: #9FD17A;
  --color-sec-800: #8AC65E;
  --color-sec-900: #83C254;
  --color-sec-1000: #529f19;

  --color-nat: #212529;
  --color-nat-50: #F5F6F7;
  --color-nat-100: #F8F9FA;
  --color-nat-200: #E9ECEF;
  --color-nat-300: #DEE2E6;
  --color-nat-400: #CED4DA;
  --color-nat-500: #ADB5BD;
  --color-nat-600: #6C757D;
  --color-nat-700: #495057;
  --color-nat-800: #343A40;
  --color-nat-850: #292D32;
  --color-nat-900: #212529;
}