a.smooth-corners {
  color: inherit;
  display: block;
}

.smooth-corners {
  background-image: url('/src/assets/img/smooth-corners-sqaure.svg');
  mask-image: url('/src/assets/img/smooth-corners-sqaure.svg');
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-image: url('/src/assets/img/smooth-corners-sqaure.svg');
  -webkit-mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: 100%
  }

  > div {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    line-height: 25px;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
  }

}